

<div class="row">
        <div class="col-sm-6 col-sm-offset-3 transparent-bg">
          <h4 class="border-bottom-white">
            <i class="glyphicon glyphicon-user">
            </i>
            Account Access
          </h4>
          <h4>
              Forgot your password?
          </h4>
          <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
              <fieldset>
                <p>
                  Enter your email address you used to register your account
                  <br>
                  We'll send you an email with instructions to choose a new password.
                
                <div class="form-group input-group">
                  <span class="input-group-addon">
                    @
                  </span>
                  <input class="form-control" placeholder=" Email" name="email" type="email" required="">
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                  Continue
                </button>
              </p>
              </fieldset>
            </form>
        </div>
      </div>