<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Online School System</a>
    </div>
		<ul class="nav navbar-nav navbar-left">
			<% if(!!locals.isAdmin){ %><li><a href="#/admin/tenants">Tenants</a></li> <% } %>
			<% if(!!locals.isTenant){ %><li><a href="#/admin/institutions">institutions</a></li> <% } %>
			<li><a href="#/institutions">Dashboard</a></li>
		</ul>
    <%- partial('ng-app/partials/login') %>

  </div><!-- /.container-fluid -->
</nav>
