<a href="#/students">Students</a>
<a href="#/students/2">Student</a>
<a href="#/dashboard/academic/configuration">Academic Configuration</a>
<div class="container">
    <div ng-view>
        hello world
    </div>
</div>
