<!DOCTYPE html>
<html lang="en" ng-app="mktbAcadamic">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>School System</title>
	    

		<script src="http://code.angularjs.org/snapshot/angular.js"></script>

		<script>
			angular.module('mktbAcadamic', [])
			.controller('MyController', ['$scope', function ($scope) {
				$scope.greetMe = 'World';
			}]);

			angular.element(document).ready(function() {
				angular.bootstrap(document, ['mktbAcadamic']);
			});
		</script>


	</head>
<body>
  
    <%- partial('home/partials/header') %>
    
    <%- body %>

  
</body>
</html>