
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 transparent-bg">
    <h4 class="border-bottom-white">
      <i class="glyphicon glyphicon-user">
      </i>
      Account Access
    </h4>
    <% if(typeof successMessages != "undefined" && successMessages.passwordChanged){ %>
      <div class="alert alert-success">
        <strong>Success!</strong> Your password has been changed.
      </div>
    <% } %>

    <% if(typeof errMessages != "undefined" && ( !errMessages.newPassMatch || !errMessages.currentPassMatch)){ %>
      <div class="alert alert-danger">
        <strong>Error!</strong> 
        <% if (!errMessages.currentPassMatch){ %>
            Current password is not correct.
        <% } else if(!errMessages.newPassMatch){ %>
            Your new passwords do not match.
        <% } %>
      </div>
    <% } %>

    <h4>
        Want to change your password?
    </h4>
    <form accept-charset="UTF-8" role="form" id="login-recordar" method="post" action="change-password">
        <fieldset>
          <p>
            Enter your current password.
            
            <div class="form-group input-group">
              <span class="input-group-addon">
                *
              </span>
              <input class="form-control" placeholder="Your password" name="password" type="password" required>
            </div>
            
            </p>
        </fieldset>

        <fieldset>
          <p>
            Enter your new password.
            
            <div class="form-group input-group">
              <span class="input-group-addon">
                *
              </span>
              <input class="form-control" placeholder="Your new password" name="new_password" type="password" required>
            </div>
            
            </p>
        </fieldset>

        <fieldset>
          <p>
            Confirm your new password.
            
            <div class="form-group input-group">
              <span class="input-group-addon">
                *
              </span>
              <input class="form-control" placeholder="Confirm your new password" name="confirm_password" type="password" required>
            </div>
            
            </p>
        </fieldset>

        <fieldset>
          <p>
            <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
              Continue
            </button>
          </p>
        </fieldset>
      </form>
  </div>
</div>
