.DS_Store
/.project
/.idea
/.vagrant

/tmp
/docs
/obj
/coverage
node_modules
coverage
bower_components

/builtAssets
/build

/config/config.js
/config/default.json
/config/staging.json
/config/production.json
/config/runtime.json

/public/components
/public/client

/public/uploads/
/public/uploads/photos
/public/uploads/groups
/public/uploads/links
/public/uploads/blogs
/public/uploads/videos
/public/uploads/topics
/public/uploads/events

/nbproject
iisnode/
web.config
cmd.exe.lnk
powershell.lnk
/hfp-node.sublime-project
/hfp-node.sublime-workspace
obj/*
hfp-node.njsproj
.ntvs_analysis.dat

## Ignore Visual Studio temporary files, build results, etc

# User-specific files
*.suo
*.user
*.sln.docstates
.ntvs_analysis.dat
*.njsproj

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.njsproj
*.kproj
.settings
npm-debug
npm-debug.log
config/environments/development.json
*.rdb
