<h2>Password Reset!</h2>
<p>You recently asked to reset you password.</p>
<p>
	<a href="<%=baseUrl%>reset-password/<%=signature%>">Click here</a> to reset your password.
</p>
<p>Or copy below url to your browser address bar.</p>
<p><%=baseUrl%>reset-password/<%=signature%></p>